*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow:hidden;
    background:linear-gradient(135deg,#050816,#091540,#180b4f,#320b86);
    background-size:400% 400%;
    animation:galaxy 12s ease infinite;
}

@keyframes galaxy{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

/* Bintang */
body::before{
    content:"";
    position:fixed;
    inset:0;
    background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(#8ec5ff 1px, transparent 1px),
    radial-gradient(#ffd6ff 1px, transparent 1px);
    background-size:90px 90px,130px 130px,170px 170px;
    animation:stars 30s linear infinite;
    opacity:.7;
}

@keyframes stars{
    from{transform:translateY(0);}
    to{transform:translateY(-200px);}
}

.card{
    width:340px;
    padding:30px;
    border-radius:25px;
    text-align:center;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.25);
    box-shadow:0 0 35px rgba(132,0,255,.5);
    color:#fff;
}

.logo{
    width:100px;
    height:100px;
    border-radius:50%;
    border:4px solid #7f5cff;
    box-shadow:0 0 20px #7f5cff;
}

h1{
    margin:15px 0;
    color:#fff;
}

p{
    color:#ddd;
    margin-bottom:20px;
}

.btn{
    display:inline-block;
    padding:14px 30px;
    border-radius:50px;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    background:linear-gradient(90deg,#7f5cff,#00d4ff,#ff4fd8);
    background-size:300% 300%;
    animation:btnGlow 5s linear infinite;
    transition:.3s;
}

.btn:hover{
    transform:scale(1.08);
    box-shadow:0 0 25px #00d4ff;
}

@keyframes btnGlow{
    0%{background-position:0%;}
    100%{background-position:100%;}
}

footer{
    margin-top:20px;
    color:#bbb;
}